@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: rgb(0, 0, 0);
  --background-start-rgb: rgb(233, 189, 235);
  --background-end-rgb: rgb(255, 255, 255);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 100, 100, 100;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  color: var(--foreground-rgb);
  background: linear-gradient(to bottom, transparent, var(--background-end-rgb))
    var(--background-start-rgb);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@media (max-width: 600px) {
  body {
    margin: 10px;
  }
}

@media (min-width: 601px) and (max-width: 1200px) {
  body {
    margin: 20px;
  }
}

@media (min-width: 1201px) {
  body {
    margin: 30px;
  }
}
